volumes:
  postgres-data:
    external: true
  pg-admin:
    external: true
services:
  postgres:
    build:
      context: data
      dockerfile: Dockerfile.dev
    volumes:
      - postgres-data:/var/lib/postgresql/data
    environment:
      POSTGRES_PASSWORD: secret
      POSTGRES_USER: example_user
      POSTGRES_DB: example_db
    ports:
      - "15432:5432"
  fastapi:
    environment:
      SIGNING_KEY: ${SIGNING_KEY}
      GOOGLE_MAPS_API_KEY: ${GOOGLE_MAPS_API_KEY}
      # MAIL_USERNAME: ${MAIL_USERNAME}
      # MAIL_PASSWORD: ${MAIL_PASSWORD}
      # MAIL_FROM: ${MAIL_FROM}
      # MAIL_PORT: ${MAIL_PORT}
      # MAIL_SERVER: ${MAIL_SERVER}
      # MAIL_FROM_NAME: ${MAIL_FROM_NAME}
      DATABASE_URL: postgresql://example_user:secret@postgres/example_db
      WAIT_HOSTS: postgres:5432
      CORS_HOST: http://localhost:3000
    build:
      context: api
      dockerfile: Dockerfile.dev
    ports:
      - "8000:8000"
    volumes:
      - ./api:/app

  ghi:
    image: node:lts-bullseye
    command: /bin/bash run.sh
    working_dir: /app
    volumes:
      - ./ghi:/app
    ports:
      - "3000:3000"
    environment:
      HOST_OS: ${OS}
      NODE_ENV: development
      HOST: "0.0.0.0"
      PUBLIC_URL: http://localhost:3000
      REACT_APP_API_KEY: ${GOOGLE_MAPS_API_KEY}
      REACT_APP_API_HOST: ${REACT_APP_API_HOST}
  pg-admin:
    image: dpage/pgadmin4
    volumes:
      - pg-admin:/var/lib/pgadmin
    ports:
      - 8082:80
    environment:
      PGADMIN_DEFAULT_EMAIL: ${PGADMIN_DEFAULT_EMAIL}
      PGADMIN_DEFAULT_PASSWORD: ${PGADMIN_DEFAULT_PASSWORD}
      PGADMIN_DISABLE_POSTFIX: 1
