.App {
  text-align: center;
}

body {
  height: 100%;
  margin: 0;
  overflow-x: hidden;
  overflow-y: hidden;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.paragraph {
  display: flex;
  justify-self: center;
  max-width: 60ch;
  text-align: center;
  padding: 7px 5px 0px 5px;
  color: #000000;
}
