.map-overlay {
    position: absolute;
    display: flex;
    gap: 2%;
    z-index: 3;
    top: 6%;
    left: 5%;
    width: 80vw;
    height: 90%;
    padding: .5rem;
}

.map-screen {
    height: 100%;
    width: 100%;
}

.close-map {
    height: 100%;
    width: max-content;
    background: #020122;
}
