.place-info-bg {
  position: absolute;
  z-index: 3;
  top: 0%;
  left: 0%;
  width: 100%;
  height: 100%;
  padding: 3%;
  background: #020122c9;
}

.place-info {
  position: absolute;
  display: flex;
  flex-direction: column;
  z-index: 3;
  top: 10%;
  left: 10%;
  width: 85%;
  height: 80%;
  padding: 10%;
  align-items: stretch;
  justify-items: center;
  background: #dadff7;
}

.check-img {
  display: block;
  flex: 0 1 20%;
  object-fit: scale-down;
  max-width: 10%;
  border: 2px solid black;
}

.features {
  display: flex;
  font-size: xx-large;
  font-weight: 600;
  height: 25%;
  gap: 30%;
  align-items: center;
  justify-content: center;
}

.feature-block {
  display: flex;
  align-items: center;
  width: 40%;
  justify-content: flex-end;
  font-size: large;
  font-weight: 600;
  height: 50%;
  gap: 5%;
}

.overlay {
  position: absolute;
  width: 100%;
  height: 100%;
}
